.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .border {
    width: 51.5rem;
    height: 36.5rem;
    border-radius: 5rem;
    background: var(--bgGray);
    box-shadow: var(--blackShadow),
      var(--whiteShadow);
    
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
      width: 50rem;
      height: 35rem;
      border-radius: 4.5rem;
      background: var(--bgGray);
      box-shadow: inset var(--blackShadow),
        inset var(--whiteShadow);
      padding-top: 3rem;
      text-align: center;
      .title {
        height: 15rem;
        width: 15rem;
      }
      .form {
        .button_box {
          display: inline-flex;
          margin: 0 auto;
          .button {
            width: 10rem;
          }
        }
      }
    }
  }
  
}
