.nav{
    display: flex;
    width: 100vw;
    height: max-content;
    align-items: center;
    padding: 2.5rem;
}
.logo{
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background: #E3E8EE;
    box-shadow:  .2rem .2rem .3rem #caced4,
             -.2rem -.2rem .3rem #fcffff;
    color: #87929D;
    font-weight: 600;
    font-size: 1.1rem;
    user-select: none;
}
.svg{
    border-radius: 100%;
    box-shadow:  .2rem .2rem .2rem #5b5d5f,
    -.2rem -.2rem .2rem #ffffff;
}
.icon{
    transition: all .5s ease;
}
.menu{
    transition: all .5s ease;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #E3E8EE;
    box-shadow:  .2rem .2rem .3rem #caced4,
             -.2rem -.2rem .3rem #fcffff;
    color: #87929D;
}
.menu:hover{
    background: linear-gradient(145deg, #d1d5d9, #b0b3b7);
    box-shadow:  .2rem .2rem .3rem #94979a,
             -.2rem -.2rem .3rem  #f2f7fc;
    transform: rotate(40deg);
}
