.box {
  width: 80vw;
  height: 80vh;
  top: 8rem;
  left: 5vw;
  position: absolute;
}
.tab_array {
  display: flex;
}
.tab {
  font-size: 1.1rem;
  height: 2.8rem;
  width: 6.4rem;
  margin: 0.8rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  text-shadow: var(--textBlackShadow), var(--textWhiteShadow);
  user-select: none;
  transition: all .5s ease;
}
.tab_sel {
  font-size: 1.2rem;
  font-weight: 600;
  width: 6.4rem;
  height: 3.6rem;
  margin: 0.8rem 0.4rem 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  text-shadow: var(--textBlackShadow), var(--textWhiteShadow);
  user-select: none;
  box-shadow: var(--buttonWhiteShadow);
  background-color: var(--bgGray);
  border-radius: 1rem 1rem 0 0;
  transition: all .5s ease;
}
.content {
  border-radius: 0.5rem;
  box-shadow: var(--blackShadow), var(--whiteShadow);
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1vw 0;
  overflow: scroll;
}
.tip {
  color: var(--textColor);
  text-shadow: var(--textBlackShadow), var(--textWhiteShadow);
}
.table {
  color: var(--textColor);
  text-shadow: var(--textBlackShadow), var(--textWhiteShadow);
  text-align: center;
  width: 76vw;
  user-select: none;
  margin-left: -2rem;
}
.tr {
  line-height: 3rem;
}
.tr th {
  font-size: 1.2rem;
  position: sticky;
}
.item {
  font-size: 1.1rem;
  line-height: 2rem;
}
.tag_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.details_box {
  display: flex;
  justify-content: center;
}
.detail {
  display: flex;
  color: var(--textColor);
  font-size: 1.1rem;
  padding: 1rem 2rem;
}
.detail_tab {
  text-shadow: var(--textWhiteShadow), var(--textBlackShadow);
  margin: 0 1rem 0 0;
}
.detail_option {
  border-radius: 0.3rem;
  box-shadow: inset var(--textWhiteShadow), inset var(--textBlackShadow);
  border: 1px solid var(--textColor);
  color: var(--textColor);
  outline: none;
  width: 15rem;
  height: 1.7rem;
  background-color: var(--bgGray);
}
.detail_option option {
  padding: 0.2rem;
}
.input {
  width: 15rem;
  height: 1.7rem;
}
.img_box {
  width: 22rem;
  height: 17rem;
  //border: 1px var(--textColor) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset var(--buttonWhiteShadow), inset var(--buttonBlackShadow);
  border-radius: 0.5rem;
}
.img {
  max-width: 20rem;
  max-height: 15rem;
  box-shadow: var(--buttonBlackShadow), var(--buttonWhiteShadow);
}
.img_preview {
  width: 8rem;
  filter: drop-shadow(var(--svgDropShadow));
}
.detail_img {
  margin-left: 0;
}
.button {
  display: flex;
  width: max-content;
}