.box {
  width: 100vw;
  user-select: none;
}
.circle {
  box-shadow: inset var(--circleBlackShadow),
    inset var(--circleWhiteShadow);
  height: 125vh;
  width: 125vh;
  border-radius: 100%;
  position: absolute;
  top: -18vh;
  left: -33vh;
  transition: all .5s ease;
}
.pic {
  height: 70vh;
  width: 70vh;
  position: relative;
  left: 40vh;
  top: 30vh;
  transition: all .5s ease;
  filter: drop-shadow(var(--svgDropShadow));
}
.msg {
  position: absolute;
  left: 105vh;
  top: 15vh;
  color: var(--textColor);
  font-weight: 600;
  font-size: 1.1rem;
  text-shadow: var(--textBlackShadow),
    var(--textWhiteShadow);
  width: 30vw;
  padding: 2rem;
  transition: all .5s ease;
  text-align: center;
}
.title {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.detail {
  display: flex;
  line-height: 3rem;
}
.content {
  margin-left: 3rem;
  letter-spacing: .1rem;
}
.button_array {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}