.container{
    display: flex;
    margin: auto;
}
.card{
    height: 50vh;
    width: 60vh;
    box-shadow: var(--blackShadow),var(--whiteShadow);
    border-radius: 0 3rem 3rem 3rem;
    transition: transform 0.4s ease-in;
    transform:  rotate(-90deg);
    margin:auto;
    position: relative;
}
.card:hover{
    // height: 60vh;
    // width: 80vh;
    border-radius: 3rem;
    transform:  rotate(0deg);
    .img{
        display: none;
    }
    .title{
        display: none;
    }
    .input{
        display: block;
    }
    .button{
        display: block;
    }
}
.img{
    transform: rotate(90deg);
    height: 30vh;
    filter: drop-shadow(var(--svgDropShadow));
    transition: all 0.4s ease-in;
}
.title{
    transform: rotate(90deg);
    position: absolute;
    right:0;
    top : 5rem;
    color: var(--textColor);
    font-size: 8vh;
    text-shadow: var(--textBlackShadow),var(--textWhiteShadow);
    font-family: "楷体";
    display: flex;
}
.text2{
    margin: 1rem;
}
.text3{
    margin: 3rem 0;
}
.text4{
    margin: 5rem 1rem;
}
.input {
    display: none;
}
.button{
    display: none;
}