.menu {
  transition: all .5s ease;
  position: absolute;
  top: 25vh;
  right: 5vw;
}
.menu_hidden {
  transition: all .5s ease;
  opacity: 0;
  position: absolute;
  top: 25vh;
  right: 6vw;
  pointer-events: none;
}
.menu_item {
  transition: all .3s ease;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 4rem;
  width: 8rem;
  user-select: none;
  color: #a6aeb6;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: var(--textBlackShadow),
    var(--textWhiteShadow);
  .menu_circle {
    height: .5rem;
    width: .5rem;
    margin-left: 1rem;
    border-radius: 100%;
    background: linear-gradient(145deg, #909ca8, #7a838d);
    box-shadow: 1px 1px 3px #676f77,
      -1px -1px 3px #a7b5c3;
  }
}
.menu_item:hover {
  font-size: 1.4rem;
  .menu_circle {
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    background: linear-gradient(145deg, #fa9848, #d3803c);
    box-shadow: 1px 1px 3px #b26c33,
      -1px -1px 3px #ffb053;
  }
}
.menu_item_sel {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 4rem;
  width: 8rem;
  user-select: none;
  color: #a6aeb6;
  font-weight: 600;
  font-size: 1.4rem;
  text-shadow: var(--textBlackShadow),
    var(--textWhiteShadow);
  .menu_circle {
    height: .5rem;
    width: .5rem;
    margin-left: 1rem;
    border-radius: 100%;
    background: linear-gradient(145deg, #fa9848, #d3803c);
    box-shadow: 1px 1px 3px #b26c33,
      -1px -1px 3px #ffb053;
  }
}